@import url(http://fonts.googleapis.com/css?family=Fira+Sans|Oswald);
body {
	font-family: 'Fira Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Oswald', sans-serif;
}

.btn {
	border-width: 0 1px 3px 1px;
	border-radius: 0px;
}

.btn:hover,
.btn:focus,
.btn:active {
	border-width: 0 1px 1px 1px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.disabled,
.open > .dropdown-toggle.btn-default {
	background-color: #f8f8f8;
	border-color: rgba(0, 0, 0, 0.10);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.disabled,
.open > .dropdown-toggle.btn-primary {
	background-color: #779ECB;
	border-color: rgba(0, 0, 0, 0.10);
}

.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.disabled,
.open > .dropdown-toggle.btn-success {
	background-color: #77DD77;
	border-color: rgba(0, 0, 0, 0.10);
}

.btn-info,
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.disabled,
.open > .dropdown-toggle.btn-info {
	background-color: #B19CD9;
	border-color: rgba(0, 0, 0, 0.10);
}

.btn-warning,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.disabled,
.open > .dropdown-toggle.btn-warning {
	background-color: #FFB347;
	border-color: rgba(0, 0, 0, 0.10);
}

.btn-danger,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.disabled,
.open > .dropdown-toggle.btn-danger {
	background-color: #FF6961;
	border-color: rgba(0, 0, 0, 0.10);
}

.navbar {
	border-width: 0 2px 6px 2px;
	border-radius: 0px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
	color: rgba(50, 50, 50, 1);
}

.navbar-inverse {
	background-color: #323232;
	border-color: #1F1F1F;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	background-color: transparent;
	color: #ffffff;
}

.form-control {
	border-radius: 0px
}

.text-primary {
	color: #779ECB;
}

.text-warning {
	color: #FFB347;
}

.text-danger {
	color: #FF6961;
}

.text-success {
	color: #77DD77;
}

.text-info {
	color: #B19CD9;
}

.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
	background-color: #B19CD9;
	color: #ffffff;
}

.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
	background-color: #9f8cc3;
	color: #ffffff;
}

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
	background-color: #77DD77;
	color: #ffffff;
}

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
	background-color: #6bc66b;
	color: #ffffff;
}

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
	background-color: #FF6961;
	color: #ffffff;
}

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
	background-color: #e55e57;
	color: #ffffff;
}

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
	background-color: #FFB347;
	color: #ffffff;
}

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
	background-color: #e5a140;
	color: #ffffff;
}

.well {
	border-radius: 0px;
}

.form-control {
	border: 1px solid rgba(0, 0, 0, 0.07);
	box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.07);
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
	color: #FFB347;
}

.has-warning .form-control,
.has-warning .form-control:focus {
	border: 1px solid #FFB347;
	box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.07);
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
	color: #FF6961;
}

.has-error .form-control,
.has-error .form-control:focus {
	border: 1px solid #FF6961;
	box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.07);
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
	color: #77DD77;
}

.has-success .form-control,
.has-success .form-control:focus {
	border: 1px solid #77DD77;
	box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.07);
}

.input-group-addon {
	padding: 4px 12px;
}

.input-group-addon:first-child {
	border-radius: 0;
	border: 0;
	background-color: #E7E7E7;
}

a {
	color: #779ECB
}

.nav-tabs > li > a {
	border-radius: 0;
}

.dropdown-menu {
	border-radius: 0;
	border-width: 0 1px 3px 1px;
	border-color: #E7E7E7;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
	border-color: #779ECB;
}

.nav-pills > li > a {
	border-radius: 0;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	background-color: #779ECB;
	border-radius: 0;
}

.pagination {
	border-radius: 0px;
}

.pagination > li > a,
.pagination > li:first-child > a,
.pagination > li:last-child > a {
	border-width: 0 1px 3px 1px;
	border-radius: 0px;
	background-color: #f8f8f8;
	border-color: rgba(0, 0, 0, 0.10);
	color: #000000;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: #779ECB;
	border-color: rgba(0, 0, 0, 0.10);
}

.pager li > a,
.pager li > span {
	border-width: 0 1px 3px 1px;
	border-radius: 0px;
	background-color: #f8f8f8;
	color: #000000;
	border-color: rgba(0, 0, 0, 0.10)
}

.alert-warning,
.alert-warning .alert-link {
	border-width: 0 1px 3px 1px;
	border-radius: 0px;
	background-color: #FFB347;
	border-color: rgba(0, 0, 0, 0.10);
	color: #ffffff;
}

.alert-danger,
.alert-danger .alert-link {
	border-width: 0 1px 3px 1px;
	border-radius: 0px;
	background-color: #FF6961;
	border-color: rgba(0, 0, 0, 0.10);
	color: #ffffff;
}

.alert-success,
.alert-success .alert-link {
	border-width: 0 1px 3px 1px;
	border-radius: 0px;
	background-color: #77DD77;
	border-color: rgba(0, 0, 0, 0.10);
	color: #ffffff;
}

.alert-info,
.alert-info .alert-link {
	border-width: 0 1px 3px 1px;
	border-radius: 0px;
	background-color: #B19CD9;
	border-color: rgba(0, 0, 0, 0.10);
	color: #ffffff;
}

.label {
	border-radius: 3px;
}

.label-default {
	background-color: #999999;
}

.label-primary {
	background-color: #779ECB;
}

.label-success {
	background-color: #77DD77;
}

.label-warning {
	background-color: #FFB347;
}

.label-info {
	background-color: #B19CD9;
}

.label-danger {
	background-color: #FF6961;
}

.progress {
	border-radius: 0;
	height: 10px;
	box-shadow: inset 0 px 0 rgba(0, 0, 0, 0.07);
}

.progress-bar {
	border-width: 0 1px 3px 1px;
	box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.10);
	background-color: #779ECB;
	height: 100%;
}

.progress-bar-info {
	background-color: #B19CD9;
}

.progress-bar-success {
	background-color: #77DD77;
}

.progress-bar-warning {
	background-color: #FFB347;
}

.progress-bar-danger {
	background-color: #FF6961
}

.container .jumbotron {
	border-radius: 0;
}

.jumbotron {
	border: 1px solid rgba(0, 0, 0, 0.07);
	box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.07);
	background-color: #f5f5f5;
}

.list-group-item:first-child {
	border-radius: 0;
	box-shadow: inset 0 4px 0 rgba(0, 0, 0, 0.07);
}

.list-group-item:last-child {
	border-radius: 0;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
	background-color: #779ECB;
}

.panel {
	border-width: 0 1px 3px 1px;
	border-radius: 0px;
	background-color: #ffffff;
	border-color: rgba(0, 0, 0, 0.10);
}

.panel-heading {
	border-bottom: 0;
}

.panel-footer {
	border-top: 0
}

.panel-primary > .panel-heading {
	background-color: #779ECB;
	border-radius: 0;
}

.panel-success > .panel-heading {
	background-color: #77DD77;
	border-radius: 0;
	color: #ffffff;
}

.panel-warning > .panel-heading {
	background-color: #FFB347;
	border-radius: 0;
	color: #ffffff;
}

.panel-danger > .panel-heading {
	background-color: #FF6961;
	border-radius: 0;
	color: #ffffff;
}

.panel-info > .panel-heading {
	background-color: #B19CD9;
	border-radius: 0;
	color: #ffffff;
}